@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body { 
  font-family: 'Roboto Condensed', sans-serif;  
}
:root{
  --primary-white : #fff;
  --primary-orange : #f9ab00;
  --primary-dark : rgba(255,255,255,0);
}

/* For navigation barr ......  */
.logo {
max-width: 16.25rem;
height : 3rem;
}
.navbar-brand{
  /* max-width: 17.25rem; */
  /* padding: 0 !important; */
  /* height: 6rem !important; */
}
/* MEnu Links */
nav a.nav-link {
/* font-weight: 500; */
letter-spacing: 0.0375rem;
cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
nav ul{
  margin-left:auto ;
}

.navbar-nav>li>a {
  margin-right: 0.45rem;
  margin-left: 0.45rem;
  color : var(--primary-white) !important; 
  font-size: 0.9375rem;
  border-top: 0.1875rem solid var(--primary-dark);  
}

.navbar-nav>li>a.active, .navbar-nav>li>a.active:focus{
border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav>li>a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}